/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.ui.form [class*="equal width"].fields>.field, .ui[class*="equal width"].form .fields>.field {
  width: 100%;
  flex: 1 1 auto;
  font-size: large;
}

.logo-sfdc {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 430px;
  height: 170px;
  padding: 26.66667px 0;
  text-align: center;
  background: -webkit-linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg,rgba(255,255,255,0) 0,rgba(255,255,255,0.2) 50%,rgba(255,255,255,0) 100%);
  background-size: 100% 1px;
  background-repeat: no-repeat;
}

.legal {
  list-style: none;
  margin-top: 40px;
  padding: 0;
  text-align: center;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 10px;
}

.legal li, .legal a {
  font-size: 12px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: 0;
  color: rgba(255,255,255,1);
}

.legal li {
  display: inline-block;
  margin: 5px;
}

.logo-sfdc a {
  display: block;
  color: #9e93ab;
  color: rgba(255,255,255,0.4);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 10px;
}



/* .ui.grid>.column:not(.row) {
  padding-top: 12rem;
  padding-bottom: 12rem;
} */

.logo-sfdc a {
  display: block;
  color: #9e93ab;
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  font-size: 10px;
}

.ui.form input[type=text], .ui.form input[type=time], .ui.form input[type=url] {
  background: #cacaca7d !important;
}

.ui.form input[type=date]{
  background: #cacaca7d !important;
}

.ui.form textarea {
  background: #cacaca7d !important;
}